<!DOCTYPE html>
<html>
<head>
  <title>TwitterApi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 

</head>
<body>
<div class='backImage'></div>
<div id="tweet-list">
	
		<div class="banner">
			<h1>
				<% if @logged_in %>
					#<%= @current_user.name %> Twitter Feed
				<% else %>
					#Twitter Feed
				<% end %>
			</h1>
			<div class="authenticate">
				

				<% if @logged_in %>
				<a href="/logout">Logout</a>
				<% else %>
				<%= link_to "Sign in with Twitter", "/auth/twitter"%>
				<% end %>
			</div>
		</div>

		<div class="errorMessage">
		</div>
		<div class="successMessage">
			<h1>Success</h1>
		</div>
		
		<div class="container">
		<div class="sideBar">
			<%= form_tag search_query_path, :class => 'form-horizontal' do %>
		    	<div class="control-group">
      		<%= label_tag :search_query, nil, :class => 'control-label' %>
      				<div class="controls"> 
        				<%= text_field_tag :search_query, nil %>
      				</div>
    			</div>
    			<div class="form-actions">
      				<%= submit_tag "Search Keyword", :class => 'btn btn-primary' %>
      				<div class='clear'></div>
    			</div>
    		<% end %>
		    	
		    </form>
			<input class="search" placeholder="Search" />
			<button class="sort sortByRetweets" data-sort="retweet">Sort by Retweet</button>
			<button class="sort sortByFollowers" data-sort="followers">Sort by Followers</button>
			<div class='leftPanel'>	
				<h1>Top 3 Tweeters</h1>
				<div class="topThree">
					
				</div>
			</div>


		</div>
			<%= yield %>
		</div>
	
</div>	
</body>
</html>
